body {
	background-color: red; 
	color: white; 
	font-weight: bold; 
	font-size: 20px; 
}

h2 {
	margin-left: 20px;
}

#query {
	margin-left: 20px;
	padding: 8px;
	font-size: 16px; 
	font-style: italic;
}

iframe {
	margin: 30px;
}